












/*
                                                     #   
 ####   ####  #    # ##### ###### #    # #####      ##   
#    # #    # ##   #   #   #      ##   #   #       # #   
#      #    # # #  #   #   #####  # #  #   #         #   
#      #    # #  # #   #   #      #  # #   #         #   
#    # #    # #   ##   #   #      #   ##   #         #   
 ####   ####  #    #   #   ###### #    #   #       ##### 
 */

#content_1{
	position: relative;
	z-index: 25;

	width: 100%;
	/*height: 710px;*/
	left: 0%;
	top: 0%;

	/*margin-bottom: 10%;*/
	
	display: block;
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/

	/*border-top: 1px solid #dfdfdf;*/
	/*border-bottom: 1px solid #dfdfdf;*/
	
	/*
	background-image: url(../img/sud6.jpg);
	background-size: cover;
	background-position: center;
	*/

	/*-webkit-box-shadow: 	0px 0px 19px 21px #702b90;*/
	/*box-shadow: 			0px 0px 19px 21px #702b90;*/

	background-color: #702b90;
	transition: 1s;
}



#imagen_content_1_a{
	position: absolute;

	width: 167px;
	left: 77%;
	top: -1%;

	opacity: 0.2;
}








.linea_horizontal{
	position: relative;

	width: 80%;
	height: 1px;
	left: 10%;
	top: 60px;

	border-radius: 5px 5px 5px 5px;

	background-color: white;
}









#titulo_1{
	position: relative;
	z-index: 50;

	width: 80%;
	/*height: 15%;*/
	/*top: 0%;*/
	left: 10%;

	font-family: 'Quicksand', sans-serif;
	font-size: 27px;
	/*font-weight: 600;*/
	color: white;/*#f9ecff*/

	display: flex;
	align-items: center;
	justify-content: center;
	
	/*padding-top: 150px;*/
	margin-top: 110px;
	margin-bottom: 30px;

	/*background-color: darkred;*/
}





#texto_1{
	/*position: absolute;*/

	width: 100%;
	/*height: 100%;*/
	/*left: 0%;*/
	/*top: 0%;*/

	/*padding: 12%;*/
	/*padding-top: 17%;*/
	padding-left: 10%;
	padding-right: 10%;
	box-sizing: border-box;

	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color: #f3d9ff;/**/

	text-align: justify;
	/*display: flex;*/
	/*align-items: center;*/

	/*overflow: hidden;*/
	/*overflow-y: scroll;*/

	/*background-color: white;*/
}






#desde_right{
	left: 10%;
	/*top: 580px;*/

	border-radius: 5px 0px 0px 5px;
}



.Espacio_vacio_10{
	position: relative;

	width: 100%;
	height: 60px;
}





























#content_titulo_texto{
	position: absolute;

	width: 70%;
	height: 70%;
	/*left: 20%;*/
	/*top: 0%;*/
	
	display: flex;
	align-items:  center;
	justify-content: center;

	border: 3px solid white;

	/*background-color: red;*/
}

#content_titulo_texto2{
	position: relative;

	width: 85%;
	/*height: 75%;*/
	/*left: 20%;*/
	/*top: 0%;*/
	
	display: block;
	align-items: center;
	justify-content: center;

	/*border: 5px solid #c6a6d4;*/
	
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 8%;
	padding-right: 8%;

	box-sizing: border-box;
	/*background-color: blue;*/
}
























.bloque_1{
	/*display: inline-block;*/
	/*float: left;*/
	vertical-align: top;
	box-sizing: border-box;
}







#contenedor_texto_1{
	position: relative;

	width: 100%;
	height: 450px;
	/*top: 73%;*/
	/*left: 0%;*/
	
	/*overflow: hidden;*/
	/*overflow-y: scroll;*/

	/*-webkit-box-shadow: 0px 6px 34px -22px #000000;*/
	/*box-shadow: 		0px 6px 34px -22px #000000;*/
	/*padding-top:11%;*/
	/*padding-left: 4%;*/
	/*padding-right: 4%;*/
	
	/*margin-left: -1%;*/
	/*margin-right: 3%;*/
	/*margin-top: 16%;*/
	
	
	
	/*float: initial;*/
	display: flex;
	/*border-right: 1px solid;*/

	/*display: flex;*/
	align-items: center;
	justify-content: center;

	/*background-color: darkgrey;*/
}








#img_cont_1{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 450px;
}


























#imagen_content_1_b{
	position: absolute;

	width: 500pX;
	left: -183px;
	top: 87%;

	opacity: 0.2;
}
































