










/*
                                                     #       ####### 
 ####   ####  #    # ##### ###### #    # #####      ##       #       
#    # #    # ##   #   #   #      ##   #   #       # #       #       
#      #    # # #  #   #   #####  # #  #   #         #        ######  
#      #    # #  # #   #   #      #  # #   #         #             # 
#    # #    # #   ##   #   #      #   ##   #         #       #     # 
 ####   ####  #    #   #   ###### #    #   #       #####  #   #####  
 */









#content_1_5{
	position: relative;
	z-index: 50;

	width: 100%;
	/*height: 75%;*/
	/*left: 10%;*/
	/*top: 0%;*/
	
	display: inline-grid;
	/*align-items: center;*/
	/*justify-content: center;*/

	/*border: 5px solid #c6a6d4;*/
	
	/*padding-top: 4%;*/
	/*padding-bottom: 4%;*/
	/*padding-left: 15.5%;*/
	/*padding-right: 15.5%;*/

	box-sizing: border-box;
	
	overflow: hidden;

	background-color: #702b90;
}






#titulo_categorias{
	position: relative;

	width: 80%;
	/*height: 45px;*/
	left: 10%;

	font-family: 'Quicksand', sans-serif;
	font-size: 27px;
	/*font-weight: 600;*/
	color: #f9ecff;

	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: flex-start;*/
	
	text-align: center;

	margin-top: 60px;
	margin-bottom: 30px;

	/*background-color: black;*/
}

#linea_titulo_esencia{
	position: absolute;

	width: 16%;
	height: 0%;
	top: 149px;
	left: 10%;
	/*margin-left: 0%;*/
	border-bottom: 1px solid #dfdfdf;
	
	display: none;
	/*background-color: darkblue;*/
}


#content_cat{
	position: relative;

	width: 80%;
	height: 15%;
	left: 10%;
	/*display: inline-grid;*/
	/*justify-content: center;*/

	/*background-color: brown;*/
}



#href_para_contacto{
	height: 40px;
}


#fin_content_1_5{
	/*top: 0%;*/
	/*margin-top: 30%;*/
}



























.categoria{
	position: relative;

	width: 100%;
	/*height: 240px;*/
	
	display: block;
	/*float: left;*/

	margin-top: 3px;
	margin-bottom: 75px;
	/*margin-left: 10%;*/
	/*margin-right: 10%;*/
	
	/*border-radius: 10px;*/
	border-right: 1px solid #9f72b4;

	/*-webkit-box-shadow: 	1px 1px 5px -2px #000000;*/
	/*box-shadow: 			1px 1px 5px -2px #000000;*/
	
	cursor: pointer;

	/*background-color: #661e86;*/
}





.titulo_cat{
	transition: 1s;
}

#titulo_cat{
	position: relative;
	z-index: 50;

	width: 95%;
	/*height: 40%;*/
	/*top: 5%;*/
	left: 0%;

	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	/*font-weight: 600;*/
	color: white;/*#f9ecff*/

	/*display: flex;*/
	/*align-items: flex-start;*/
	/*justify-content: flex-end;*/

	text-align: start;
	
	/*padding-top: 150px;*/
	/*margin-top: 10%;*/
	margin-bottom: 5px;

	/*background-color: darkred;*/

}


.linea_titulo{
	position: absolute;

	width: 20%;
	height: 5%;
	top: 100%;
	/*margin-left: 0%;*/
	border-bottom: 1px solid #dfdfdf;

	/*background-color: darkblue;*/
	display: none;
	transition: 1s;
}



.txt_cat{
	position: relative;
	z-index: 50;

	width: 95%;
	/*height: 58%;*/
	/*top: 24%;*/
	left: 0%;

	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	/*font-weight: 600;*/
	color: #f3d9ff;/*#f9ecff*/

	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: justify;
	
	/*padding-top: 150px;*/
	/*margin-top: 10%;*/
	margin-bottom: 20px;

	/*background-color: darkred;*/

	/*transition: .5s;*/
}




.contenedor_img{
	position: relative;

	width: 95%;
	height: 150px;
	left: 0%;
	/*top: 50%;*/

	border-radius: 45px 0px 45px 0px;
	
	overflow: hidden;
	
	/*box-shadow: 0px 10px 21px 5px #000000;*/

	transition: 1s;
}


.img_cat{
	position: absolute;

	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;

	background-size: cover;
	background-position: center;

	transform: scale(1);
	transition: 2s;
}

































#imagen_content_1_5_d{
	position: absolute;

	width: 574pX;
	left: -87px;
	top: -6%;

	opacity: 0.2;
}




#imagen_content_1_5_a{
	position: absolute;

	width: 500pX;
	left: -126px;
	top: 5%;

	opacity: 0.5;
}





#imagen_content_1_5_b{
	position: absolute;

	width: 500pX;
	left: 790px;
	top: 40%;

	opacity: 0.2;
}





#imagen_content_1_5_c{
	position: absolute;

	width: 500pX;
	left: -183px;
	top: 77%;

	opacity: 0.2;
}





























