










#img_cat_1{
	background-image: url(../img/sud4.jpg);
}

#img_cat_2{
	background-image: url(../img/categories/cat2.png);
}

#img_cat_3{
	background-image: url(../img/categories/cat3.png);
}

#img_cat_4{
	background-image: url(../img/sud1.jpg);
}

#img_cat_5{
	background-image: url(../img/sud2.jpg);
}





#img_cat_6{
	background-image: url(../img/categories/cat6.jpg);
}

#img_cat_7{
	background-image: url(../img/categories/cat7.jpg);
}

#img_cat_8{
	background-image: url(../img/categories/cat8.jpg);
}

#img_cat_9{
	background-image: url(../img/categories/cat9.jpg);
}

#img_cat_10{
	background-image: url(../img/categories/cat10.jpg);
}

#img_cat_11{
	background-image: url(../img/categories/cat11.jpg);
}

#img_cat_12{
	background-image: url(../img/categories/cat12.jpg);
}

#img_cat_13{
	background-image: url(../img/categories/cat13.jpg);
}

#img_cat_14{
	background-image: url(../img/categories/cat14.jpg);
}

#img_cat_15{
	background-image: url(../img/categories/cat15.jpg);
}