



/*
Google Font
font-family: 'Quicksand', sans-serif;
*/






#a{
	display: none;
}

#color_de_fondo{
	position: fixed;
	z-index: 1;

	width: 100%;
	height: 100%;
	
	clip-path: polygon(0% 0%, 90% 0, 40% 100%, 0% 100%);

	background-color: #0d1b29;
}


#contendor_web{
	position: fixed;
	z-index: 2;

	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	

	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: darkred;*/
}



#web{
	position: fixed;
	z-index: 10;
	width: 90%;
	height: 77%;
	
	-webkit-box-shadow: 0px 0px 67px -22px #000000;
	box-shadow: 		0px 0px 67px -22px #000000;
	
	border-radius: 9px;

	max-width: 1000px;
	max-height: 746px;

	overflow: hidden;
	background-color: white;
}


#color_de_fondo_en_web{
	position: absolute;
	/*z-index: 1;*/

	width: 100%;
	height: 100%;
	
	clip-path: polygon(78% 0, 79% 0, 79% 100%, 78% 100%);

	background-color: black;
}


#espacio{
	font-size: 10px;
	opacity: 0;
}
#titulo1{
	font-size: 26px;
}
#titulo2{
	font-size: 33px;
	font-weight: 600;
}




#linea_gorda_en_header{
	position: absolute;

	width: 30%;
	height: 100%;
	left: 0%;
	border-bottom: 2px solid black;
}



@media screen and (max-width: 500px) {
	#titulo1{
		font-size: 24px;
	}
	#titulo2{
		font-size: 30px;
	}
}



















#content_inside_web{
	position: absolute;

	width: 100%;
	height: 90%;
	top: 10%;
	
	display: inline-block;
	overflow-x: hidden;
	overflow-y: scroll;
	
	transition: 1s;
	/*background-color: darkgreen;*/
}























/*
                                                     #   
 ####   ####  #    # ##### ###### #    # #####      ##   
#    # #    # ##   #   #   #      ##   #   #       # #   
#      #    # # #  #   #   #####  # #  #   #         #   
#      #    # #  # #   #   #      #  # #   #         #   
#    # #    # #   ##   #   #      #   ##   #         #   
 ####   ####  #    #   #   ###### #    #   #       ##### 
 */










/*
##### # ##### #    # #       ####  
  #   #   #   #    # #      #    # 
  #   #   #   #    # #      #    # 
  #   #   #   #    # #      #    # 
  #   #   #   #    # #      #    # 
  #   #   #    ####  ######  ####  
 */

#contenedor_titulo_1{

	width: 64%;
	height: 19%;
	/*left: 5%;*/
	/*top: 12%;*/
	
	/*background-color: tomato;*/
}






#linea1_titulo_1{
	position: absolute;

	width: 100%;
	height: 5%;
	top: 130%;
	margin-left: 0%;
	border-bottom: 1px solid #dfdfdf;

	/*background-color: darkblue;*/
}

#linea2_titulo_1{
	position: absolute;
	width: 20%;
	height: 100%;
	top: 0%;
	left: 0%;
	border-bottom: 2px solid black;
	
	transition: .5s;
	/*background-color: darkblue;*/
}

#linea3_titulo_1{
	position: absolute;

	width: 52%;
	height: 5%;
	top: 75%;
	margin-left: 0%;
	border-bottom: 1px solid #dfdfdf;

	/*background-color: darkblue;*/
}

#linea4_titulo_1{
	position: absolute;
	width: 20%;
	height: 100%;
	top: 0%;
	margin-left: 0%;
	border-bottom: 2px solid black;

	/*background-color: darkblue;*/
}
	















/*
# #    #   ##    ####  ###### #    # 
# ##  ##  #  #  #    # #      ##   # 
# # ## # #    # #      #####  # #  # 
# #    # ###### #  ### #      #  # # 
# #    # #    # #    # #      #   ## 
# #    # #    #  ####  ###### #    # 
*/
#contenedor_imagen_1{
	position: absolute;
	
	width: 56%;
	height: 71%;
	left: 6%;
	top: 26%;
	
	padding-top:  1%;
	padding-right: 0%;
	padding-left:  10%;

	display: flex;
	align-items: center;
	justify-content: center;

	/*background-color: darkgreen;*/
}

#imagen_fondo_web{
	position: absolute;

	width: 35%;
	top: 26%;
	left: 18%;
	/*opacity: 1;*/
}






#contenedor_de_imgs{
	position: absolute;

	width: 60%;
	height: 56%;
	top: 0%;
	left: -4%;
}

.scroll_none{
	overflow: hidden;
	overflow-y: scroll; 
}




/*
                   #   
# #    #  ####    ##   
# ##  ## #    #  # #   
# # ## # #         #   
# #    # #  ###    #   
# #    # #    #    #   
# #    #  ####   ##### 
*/

#contenedor_de_imgs1{
	position: relative;
	z-index: 30;

	width: 81%;
	height: 196px;
	top: 0%;
	left: 9%;
	
	-webkit-box-shadow: 0px 0px 15px 0px #000000;
	/*box-shadow: 		0px 0px 70px -31px #000000;*/
	/*-webkit-box-shadow: 0px 0px 39px -10px #000000;*/
	/*box-shadow: 		0px 0px 39px -10px #000000;*/
	/*background-color: red;*/

	transition: .2s;
}



#imagen_fondo_web1{
	position: absolute;
	/*z-index: 1;*/

	width: 100%;
	top: 0%;
	left: 0%;

	/*-webkit-box-shadow: 0px 0px 15px 0px #000000;*/
	/*box-shadow: 		0px 0px 70px -31px #000000;*/
	/*opacity: 1;*/

	/*display: none;*/
}




/*
                 #####  
# #    #  ####  #     # 
# ##  ## #    #       # 
# # ## # #       #####  
# #    # #  ### #       
# #    # #    # #       
# #    #  ####  ####### 
*/


#contenedor_de_imgs2{
	position: relative;
	z-index: 15;

	width: 80%;
	height: 200px;
	top: 117%;
	left: 10%;
	
	margin-top: 15%;
	margin-bottom: 15%;
	/*-webkit-box-shadow: 0px 0px 15px 0px #000000;*/
	/*box-shadow: 		0px 0px 70px -31px #000000;*/
	-webkit-box-shadow: 0px 0px 39px -10px #000000;
	box-shadow: 		0px 0px 39px -10px #000000;
	
	/*background-color: red;*/

	transition: .2s;
}


#imagen_fondo_web2{
	position: absolute;
	z-index: 5;

	width: 100%;
	top: 0%;
	left: 0%;

	/*-webkit-box-shadow: 0px 0px 15px 0px #000000;*/
	/*box-shadow: 		0px 0px 70px -31px #000000;*/
	/*opacity: 1;*/

	/*display: none;*/
}


















/*
                    #####  
# #    #  ####     #     # 
# ##  ## #    #    #     # 
# # ## # #          ###### 
# #    # #  ###          # 
# #    # #    #    #     # 
# #    #  ####      #####  
*/

#contenedor_de_imgs9{
	position: relative;
	/*z-index: 90;*/

	width: 80%;
	height: 191px;
	top: 0%;
	/*left: 10%;*/
	
	margin-left: 10%;
	margin-bottom: 43%;

	-webkit-box-shadow: 0px 105px 71px -52px #000000;
	/*-webkit-box-shadow: 0px 71px 133px 5px #000000;*/
	/*box-shadow: 		0px 0px 70px -31px #000000;*/
	
	transition: .2s;
	/*background-color: darkorange;*/
}


#imagen_fondo_web9{
	/*position: absolute;*/
	/*z-index: 90;*/

	width: 100%;
	top: 0%;
	left: 0%;

	/*-webkit-box-shadow: 0px 71px 133px 5px #000000;*/
	/*box-shadow: 		0px 0px 70px -31px #000000;*/
	/*opacity: 1;*/
}

































	/*
	                                       #   
	##### ###### #    # #####  ####       ##   
	  #   #       #  #    #   #    #     # #   
	  #   #####    ##     #   #    #       #   
	  #   #        ##     #   #    #       #   
	  #   #       #  #    #   #    #       #   
	  #   ###### #    #   #    ####      ##### 
	*/


	#linea1_texto_1{
		position: absolute;

		width: 100%;
		height: 5%;
		left: 0%;
		top: 0%;

		border-top: 1px solid #dfdfdf;
		
		
		/*background-color: #dfdfdf;*/

		/*display: none;*/
	}

	#linea2_texto_1{
		position: absolute;

		width: 20%;
		height: 100%;
		left: 0%;
		top: 0%;

		border-top: 2px solid black;
		
		transition: .5s;
		/*background-color: darkblue;*/
	}
		
	

		
	#linea3_texto_1{
		position: absolute;

		width: 100%;
		height: 5%;
		left: 0%;
		top: 94%;

		border-bottom: 1px solid #dfdfdf;

		/*background-color: #dfdfdf;*/
	}

	#linea4_texto_1{
		position: absolute;

		width: 20%;
		height: 100%;
		left: 80%;
		top: 0%;

		border-bottom: 2px solid black;
		
		transition: .5s;
		/*background-color: darkblue;*/
	}










		

		#lupa{
			position: absolute;
			z-index: 100;

			width: 30%;
			top: 20%;
			left: 10%;
		}

	




	/*
	#####   ####  #####  ####  #    # 
	#    # #    #   #   #    # ##   # 
	#####  #    #   #   #    # # #  # 
	#    # #    #   #   #    # #  # # 
	#    # #    #   #   #    # #   ## 
	#####   ####    #    ####  #    # 
	*/
	#contendor_boton_1{
		position: absolute;
		z-index: 90;
		
		width: 19%;
		height: 10%;
		top: 90%;
		left: 68%;

		display: flex;
		align-items: center;
		justify-content: center;

		/*background-color: darkred;*/
		display: none;
	}

		#boton_1{
			position: absolute;

			width: 32%;
			/*left: 37%;*/
			top: 44%;

			transition: .2s;
		}



























































































/*
 ####   ####  #####   ####  #      #      #####    ##   #####  
#      #    # #    # #    # #      #      #    #  #  #  #    # 
 ####  #      #    # #    # #      #      #####  #    # #    # 
     # #      #####  #    # #      #      #    # ###### #####  
#    # #    # #   #  #    # #      #      #    # #    # #   #  
 ####   ####  #    #  ####  ###### ###### #####  #    # #    # 


  ####   ####  #    # ##### ###### #    # ###### #####   ####  #####  ######  ####  
#    # #    # ##   #   #   #      ##   # #      #    # #    # #    # #      #      
#      #    # # #  #   #   #####  # #  # #####  #    # #    # #    # #####   ####  
#      #    # #  # #   #   #      #  # # #      #    # #    # #####  #           # 
#    # #    # #   ##   #   #      #   ## #      #    # #    # #   #  #      #    # 
 ####   ####  #    #   #   ###### #    # ###### #####   ####  #    # ######  ####  
*/



#content_inside_web::-webkit-scrollbar {
	width: 8px;
	
}

#content_inside_web::-webkit-scrollbar-thumb{
	background-color: rgb(67, 61, 57);
	border-radius: 10px;
	/*box-shadow: -6px -2px 12px 1px rgba(0,0,0,0.39);*/
}

#content_inside_web::-webkit-scrollbar-thumb:hover{
	/*background-color: #4a4a4a;*/
}

#content_inside_web::-webkit-scrollbar-button{
	background-color: transparent;

}


/*-------CONTENEDOR TEXTO-------*/

#contenedor_texto_1::-webkit-scrollbar {
	width: 1px;
	
}

#contenedor_texto_1::-webkit-scrollbar-thumb{
	background-color: black;
	border-radius: 10px;
	/*box-shadow: -6px -2px 12px 1px rgba(0,0,0,0.39);*/
}

#contenedor_texto_1::-webkit-scrollbar-thumb:hover{
	/*background-color: #4a4a4a;*/
}

#contenedor_texto_1::-webkit-scrollbar-button{
	background-color: transparent;

}




/*-------TEXTO-1------*/

#texto_1::-webkit-scrollbar {
	width: 1px;
	
}

#texto_1::-webkit-scrollbar-thumb{
	background-color: black;
	border-radius: 10px;
	/*box-shadow: -6px -2px 12px 1px rgba(0,0,0,0.39);*/
}

#texto_1::-webkit-scrollbar-thumb:hover{
	/*background-color: #4a4a4a;*/
}

#texto_1::-webkit-scrollbar-button{
	background-color: transparent;

}



/*-------TEXTO-2------*/

#texto_2::-webkit-scrollbar {
	width: 1px;
	
}

#texto_2::-webkit-scrollbar-thumb{
	background-color: black;
	border-radius: 10px;
	/*box-shadow: -6px -2px 12px 1px rgba(0,0,0,0.39);*/
}

#texto_2::-webkit-scrollbar-thumb:hover{
	/*background-color: #4a4a4a;*/
}

#texto_2::-webkit-scrollbar-button{
	background-color: transparent;

}



/*-------TEXTO-FORM------*/

#texto_form::-webkit-scrollbar {
	width: 1px;
	
}

#texto_form::-webkit-scrollbar-thumb{
	background-color: black;
	border-radius: 10px;
	/*box-shadow: -6px -2px 12px 1px rgba(0,0,0,0.39);*/
}

#texto_form::-webkit-scrollbar-thumb:hover{
	/*background-color: #4a4a4a;*/
}

#texto_form::-webkit-scrollbar-button{
	background-color: transparent;

}









/*-------CONTENEDOR TEXTO 2-------*/

#contenedor_texto_2::-webkit-scrollbar {
	width: 1px;
	
}

#contenedor_texto_2::-webkit-scrollbar-thumb{
	background-color: black;
	border-radius: 10px;
	/*box-shadow: -6px -2px 12px 1px rgba(0,0,0,0.39);*/
}

#contenedor_texto_2::-webkit-scrollbar-thumb:hover{
	/*background-color: #4a4a4a;*/
}

#contenedor_texto_2::-webkit-scrollbar-button{
	background-color: transparent;

}




/*-------SCROLL DISPLAY NONE-------*/

.scroll_none::-webkit-scrollbar {
	width: 0px;
	
}

.scroll_none::-webkit-scrollbar-thumb{
	background-color: black;
	border-radius: 10px;
	/*box-shadow: -6px -2px 12px 1px rgba(0,0,0,0.39);*/
}

.scroll_none::-webkit-scrollbar-thumb:hover{
	/*background-color: #4a4a4a;*/
}

.scroll_none::-webkit-scrollbar-button{
	background-color: transparent;
	
}






































