Options All -Indexes

#RewriteEngine on
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#DirectoryIndex ./index.php?index_var=indexvar [L]




# Errors views
ErrorDocument 404 /others/error_views/404.php
ErrorDocument 403 /others/error_views/404.php


# Trabajo naves
RewriteEngine on
RewriteRule ^naves$ https://docs.google.com/presentation/d/1Zufx7BaRTREvmlS9FR44cLEDFzLK6eYGgKjoQ1GhPk4/edit?usp=sharing [L]



# Curriculum y timeline actualizado al 22/11/24 - carpeta compartida en google drive
RewriteEngine on
RewriteRule ^cv https://drive.google.com/drive/folders/1FDNREs0tWUSnpnegRQv55NWTZQ0JyirU?usp=sharing [L]






# VARIABLE index_var
RewriteEngine on
RewriteRule ^desarrollokonig$ ./index.php?index_var=desarrollokonig [L]

RewriteEngine on
RewriteRule ^pr$ ./index.php?index_var=PR [L]
RewriteEngine on
RewriteRule ^PR$ ./index.php?index_var=PR [L]

RewriteEngine on
RewriteRule ^updata$ ./index.php?index_var=PR/DATA [L]
RewriteEngine on
RewriteRule ^UPDATA$ ./index.php?index_var=PR/DATA [L]


RewriteEngine on
RewriteRule ^acm$ ./index.php?index_var=ACM [L]
RewriteEngine on
RewriteRule ^acm$ ./index.php?index_var=ACM [L]

RewriteEngine on
RewriteRule ^ACM$ ./index.php?index_var=ACM [L]
RewriteEngine on
RewriteRule ^acm$ ./index.php?index_var=ACM [L]