Options All -Indexes

#RewriteEngine on
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]



# Login
RewriteEngine on
RewriteRule ^proyects/desarrollokonig$ /proyects/desarrollokonig/canal.php [L]

RewriteEngine on
RewriteRule ^proyects/desarrollokonig/$ /proyects/desarrollokonig/canal.php [L]