
















#titulo_5{
	position: relative;
	z-index: 50;

	width: 100%;
	
	/*margin-top: 201px;*/
	/*margin-left: 10%;*/
	/*margin-bottom: 3%;*/

	/*padding-top: 150px;*/
	
	font-family: 'Quicksand', sans-serif;
	font-size: 45px;
	font-weight: 600;
	color: #3c92ca;

	text-align: center;
	cursor: default;

	/*background-color: darkred;*/
}




#texto_5{

}




.texto_como{
	/*position: absolute;*/

	width: 40%;

	margin-top: 80px;
	margin-left: 30%;
	margin-bottom: 0px;

	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	/*font-weight: 600;*/
	color: black;


	text-align: justify;
	cursor: default;
	/*background-color: white;*/
}




.content_img_como{
	position: absolute;

	left: 76%;
	width: 86px;
	height: 86px;
	top: 148px;

	display: flex;
	align-items: center;
	justify-content: center;

	/*background-color: darkred;*/
}


#mobile_smart_5{
	/*position: absolute;*/

	width: 64px;

	/*left: 78%;*/
	/*top: 143px;*/

	/*display: none;*/
}



.numeros{
	position: absolute;

	width: 50px;

	left: 20%;
	top: 161px;

	/*display: none;*/
}


#num_1{
	/*top: 0px;*/
}
#num_2{
	/*top: 0px;*/
}
#num_3{
	/*top: 0px;*/
}


























