










#content_2{

}






#mobile_smart_2{
	position: absolute;

	width: 316px;

	left: 62%;
	top: -29px;
}





#titulo_2{
	position: relative;
	z-index: 50;

	width: 40%;
	
	/*margin-top: 201px;*/
	margin-left: 10%;
	/*margin-bottom: 3%;*/

	/*padding-top: 150px;*/
	
	font-family: 'Quicksand', sans-serif;
	font-size: 32px;
	font-weight: 600;
	color: transparent;

	text-align: start;
	cursor: default;
	/*background-color: darkred;*/
}




#texto_2{
	/*position: absolute;*/

	width: 40%;

	margin-top: 15px;
	margin-left: 10%;
	margin-bottom: 201px;

	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	/*font-weight: 600;*/
	color: black;


	text-align: start;
	cursor: default;
	/*background-color: white;*/
}



































































#content_titulo_texto{
	position: absolute;

	width: 70%;
	height: 70%;
	/*left: 20%;*/
	/*top: 0%;*/
	
	display: flex;
	align-items:  center;
	justify-content: center;

	border: 3px solid white;

	/*background-color: red;*/
}

#content_titulo_texto2{
	position: absolute;

	width: 85%;
	/*height: 75%;*/
	/*left: 20%;*/
	/*top: 0%;*/
	
	display: block;
	align-items: center;
	justify-content: center;

	/*border: 5px solid #c6a6d4;*/
	
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 8%;
	padding-right: 8%;

	box-sizing: border-box;
	/*background-color: blue;*/
}



.Espacio_vacio_10{
	position: relative;

	width: 100%;
	height: 131px;
}




































.bloque_1{
	/*display: inline-block;*/
	/*float: left;*/
	vertical-align: top;
	box-sizing: border-box;
}







#contenedor_texto_1{
	position: relative;

	width: 100%;
	height: 450px;
	/*top: 73%;*/
	/*left: 0%;*/
	
	/*overflow: hidden;*/
	/*overflow-y: scroll;*/

	/*-webkit-box-shadow: 0px 6px 34px -22px #000000;*/
	/*box-shadow: 		0px 6px 34px -22px #000000;*/
	/*padding-top:11%;*/
	/*padding-left: 4%;*/
	/*padding-right: 4%;*/
	
	/*margin-left: -1%;*/
	/*margin-right: 3%;*/
	/*margin-top: 16%;*/
	
	
	
	/*float: initial;*/
	display: flex;
	/*border-right: 1px solid;*/

	/*display: flex;*/
	align-items: center;
	justify-content: center;

	/*background-color: darkgrey;*/
}










#img_cont_1{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 450px;
}

















.linea_horizontal{
	position: absolute;

	width: 70%;
	height: 2px;
	left: 0%;
	top: 127px;

	border-radius: 0px 5px 5px 0px;

	background-color: #3c92ca;
}





#desde_right{
	left: 30%;
	top: 580px;

	border-radius: 5px 0px 0px 5px;
}










#imagen_content_1_a{
	position: absolute;

	width: 500pX;
	left: 783px;
	top: -27%;

	opacity: 0.2;
}



#imagen_content_1_b{
	position: absolute;

	width: 500pX;
	left: -183px;
	top: 87%;

	opacity: 0.2;
}
































