









#mobile_smart_9{
	position: absolute;

	width: 172px;

	left: 66%;
	top: 81px;

	cursor: pointer;
}





#titulo_9{
	position: relative;
	z-index: 50;

	width: 40%;
	
	/*margin-top: 201px;*/
	margin-left: 10%;
	/*margin-bottom: 3%;*/

	/*padding-top: 150px;*/
	
	font-family: 'Quicksand', sans-serif;
	font-size: 35px;
	font-weight: 600;
	color: #3c92ca;

	text-align: start;
	cursor: default;
	/*background-color: darkred;*/
}




#texto_9{
	/*position: absolute;*/

	width: 40%;

	margin-top: 23px;
	margin-left: 10%;
	margin-bottom: 201px;

	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	/*font-weight: 600;*/
	color: black;


	text-align: start;
	cursor: default;
	/*background-color: white;*/
}
























































