


#header{
	position: fixed;
	z-index: 95;
	
	width: 100%;
	height: 60px;
	left: 0%;
	top: 0%;
	
	font-family: 'Quicksand', sans-serif;
	font-size: 32px;
	color: white;
	
	border-bottom: 1px solid rgb(214, 214, 214);
	/*display: flex;*/
	/*align-items: center;*/

	/*-webkit-box-shadow: 	0px -2px 21px -5px #000000;*/
	/*box-shadow: 			0px -2px 21px -5px #000000;*/

	opacity: 1;
	background-color: white;
	/*transition: .5s;*/


}


#logo_header{
	position: absolute;
	width: 90%;
	height: 95%;
	
	color: black;
	/*font-size: 65px;*/
	font-weight: 600;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	cursor: default;
	/*background-color: red;*/
	/*transition: .5s;*/

}




#color_celeste{
	position: relative;

	top: -5%;

	font-size: 17px;
	color: #3c92ca;
	/*transition: .5s;*/
}

.espacio{
	font-size: 11px;
	color: transparent;
	/*transition: .5s;*/
}

.sugerencia{
	font-weight: 600;
}

.comAR{
	color: #3c92ca;
}
