










#footer_brand{
	position: fixed;
	z-index: 95;
	
	width: 99%;
	height: 5%;
	left: 0%;
	top: 95%;
	
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: white;
	
	border-radius: 20px;

	display: flex;
	justify-content: flex-end;
	/*align-items: center;*/

	/*-webkit-box-shadow: 	0px -2px 21px -5px #000000;*/
	/*box-shadow: 			0px -2px 21px -5px #000000;*/
	
	/*border-top: 1px solid rgb(214, 214, 214);*/

	opacity: 1;
	/*background-color: white;*/
	/*transition: .5s;*/


}


#logo_footer_brand{
	/*position: absolute;*/
	/*width: 99%;*/
	height: 100%;
	
	color: black;
	font-size: 18px;
	font-weight: 600;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	padding: 11px;
	box-sizing: border-box;

	text-decoration: none;
	
	border-radius: 5px 0 0 0;

	/*border-top: 1px solid #e2e2e2;*/
	/*border-left: 1px solid #e2e2e2;*/

	cursor: default;
	background-color: white;
	/*transition: .5s;*/

}



