body{
	margin: 0;
	overflow-x: hidden;
	background-color: #fff;
	/*background-color: #702b90;*/
}


a:-webkit-any-link {
    /*color: white;*/
    /*cursor: default;/*pointer o default*/
    text-decoration: none;
}


/*----*/

body::-webkit-scrollbar {
	width: 8px;
	
}

body::-webkit-scrollbar-thumb{
	background-color: #c1c1c1;
	border-radius: 30px;
	/*box-shadow: -6px -2px 12px 1px rgba(0,0,0,0.39);*/
}

body::-webkit-scrollbar-thumb:hover{
	/*background-color: #4d1d63;*/
}

body::-webkit-scrollbar-button{
	background-color: white;
	height: 0%;
	

}







#header{
	position: fixed;
	z-index: 95;
	
	width: 100%;
	height: 130px;
	left: 0%;
	top: 0%;
	
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: white;

	/*display: flex;*/
	/*align-items: center;*/

	/*-webkit-box-shadow: 	0px -2px 21px -5px #000000;*/
	/*box-shadow: 			0px -2px 21px -5px #000000;*/

	opacity: 1;
	background-color: white;
	transition: .5s;


}


#logo_header{
	position: absolute;
	width: 90%;
	height: 95%;
	
	color: black;
	font-size: 65px;
	font-weight: 600;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	cursor: default;
	/*background-color: red;*/
	transition: .5s;

}




#color_celeste{
	position: relative;

	top: -5%;

	font-size: 41px;
	color: #3c92ca;
	transition: .5s;
}

.espacio{
	font-size: 24px;
	color: transparent;
	transition: .5s;
}

.sugerencia{
	font-weight: 600;
}

.comAR{
	color: #3c92ca;
}

#comAR_texto_4{
	font-weight: 600;
	font-size: 22px;
}




















#contenedor_en_header{
	position: absolute;

	width: 35%;
	height: 90%;
	left: 64%;
	/*top: 10%;*/
	
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color: white;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	
	/*background-color: darkred;*/
}



#empresa_header{
	/*position: absolute;*/

	width: 30%;
	height: 100%;
	left: 0%;
	
	color: #4e4e4e;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	
	cursor: default;

	/*background-color: darkgreen;*/
}

#esencia_header{
	/*position: absolute;*/

	width: 30%;
	height: 100%;
	left: 32%;
	
	color: #4e4e4e;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	
	cursor: default;

	/*background-color: brown;*/
}

#contacto_header{
	/*position: absolute;*/

	width: 30%;
	height: 100%;
	left: 70%;
	
	color: #4e4e4e;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	
	cursor: default;

	/*background-color: darkblue;*/
}













#logo{
	position: absolute;
	width: 450px;
}

