





#content_2{
	position: relative;
	z-index: 10;

	width: 100%;
	/*height: 100%;*/
	/*top: 192%;*/

	/*margin-top: 118px;*/

	/*overflow: hidden;*/

	background-color: white;
	/*transition: 1s;*/
}
	



/*
######  ####  #####  #    # #    # #        ##   #####  #  ####  
#      #    # #    # ##  ## #    # #       #  #  #    # # #    # 
#####  #    # #    # # ## # #    # #      #    # #    # # #    # 
#      #    # #####  #    # #    # #      ###### #####  # #    # 
#      #    # #   #  #    # #    # #      #    # #   #  # #    # 
#       ####  #    # #    #  ####  ###### #    # #    # #  #### 
*/


#texto_form{
	position: relative;

	width: 80%;
	height: 281px;
	/*left: 10%;*/
	/*top: 54%;*/

	/*padding: 12%;*/
	/*padding-top: 17%;*/
	/*padding-left: 15%;*/

	margin-top: 16%;
	margin-left: 10%;

	font-family: 'Quicksand', sans-serif;
	font-size: 17px;
	
	text-align: justify;
	/*display: flex;*/
	/*align-items: center;*/

	overflow: hidden;
	overflow-y: scroll;

	/*background-color: white;*/
}


#contenedor_formulario{
	position: relative;
	
	width: 70%;
	height: 587px;
	left: 15%;
	/*top: 73%;*/
	
	/*padding-top:  1%;*/
	/*padding-right: 0%;*/
	/*padding-left:  10%;*/
	margin-bottom: 14%;

	display: flex;
	align-items: center;
	justify-content: center;

	/*background-color: teal;*/
}





#boton_enviar{
	position: absolute;

	width: 70%;
	height: 34px;
	left: 15%;
	/*top: 79%;*/
	
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: white;
	
	display: none;/*flex*/
	align-items: center;
	justify-content: center;
	
	margin-top: 0px;
	margin-bottom: 150px;

	background-color: black;

	cursor: pointer;
}


#boton_cartel_error{
	position: absolute;

	width: 70%;
	height: 34px;
	left: 15%;
	/*top: 0%;*/
	
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: white;
	
	display: none;/*flex*/
	align-items: center;
	justify-content: center;
	
	margin-top: 0px;
	margin-bottom: 150px;

	background-color: black;

	cursor: pointer;
}
















































/*
######  ####  #####  #    # #    # #        ##   #####  #  ####  
#      #    # #    # ##  ## #    # #       #  #  #    # # #    # 
#####  #    # #    # # ## # #    # #      #    # #    # # #    # 
#      #    # #####  #    # #    # #      ###### #####  # #    # 
#      #    # #   #  #    # #    # #      #    # #   #  # #    # 
#       ####  #    # #    #  ####  ###### #    # #    # #  #### 
*/



:focus{
	outline: none;
}


form.form_contact .user_info{
	display: flex;
	flex-direction: column;
	
}

form.form_contact label{
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: 100;

	color: #141414;
	display: none;
}



form.form_contact textarea{
	
}

/*
form.form_contact input[type="submit"]{
	width: 300px;
	background-color: #ebd288;
	padding: 10px;
	border: none;
	border-radius: 25px;

	align-self:center;
	/*align-self:flex-end;

	color: #fff;
	font-family: 'Open sans';
	font-size: 39px;
	font-weight: 600;
	cursor: pointer;
}
*/

form.form_contact input[type="submit"]:hover{
	/*background-color:  #3371b6;*/
	background-color: black;
}





.form_contact{
	position: absolute;
	width: 100%;
	height: 100%;
}

.user_info{
	position: absolute;
	width: 100%;
	height: 100%;
}








.CONTACTOinputForm{
	width: 100%;
	height: 100%;

	padding: 10px 10px 10px 10px;

	border: 1px solid white;
	border-bottom: 1px solid #ccc;
	border-radius: 2px;

	font-family: 'Quicksand', sans-serif;

	color: black;
	font-size: 12px;
	font-weight: 100;
	
	box-sizing: border-box;
	background-color: unset;
	
	/*transition: 1s;*/
}

.CONTACTOinputMensaje{

	font-size: 17px;


}








.input_gral{
	position: relative;
	height: 38px;

	margin-bottom: 22px;
}



#nombre_input{
	width: 100%;
	/*top: 0%;*/
}

#apellido_input{
	width: 100%;
	/*left: 55%;*/
	/*top: 0%;*/
}

#phone_input{
	width: 100%;
	/*top: 15%;*/
}

#email_input{
	width: 100%;
	/*top: 30%;*/
}

#mensaje_input{
	width: 100%;
	/*top: 45%;*/

	max-width: 100%;
	min-width: 	100%;
	max-height: 188px;
	min-height: 188px;
}












.linea_estetica_input{
	position: absolute;

	width: 20%;
	height: 95%;
	left: 80%;
	top: 0%;

	border-bottom: 2px solid black;


}

#linea_estetica_input2{
	position: absolute;

	width: 20%;
	height: 186px;
	left: 80%;
	top: 0%;

	border-bottom: 2px solid black;


}


















.CONTACTOinputForm::-webkit-input-placeholder {
  color: #a3a3a3;
  /*opacity: 0.5;*/
}
.CONTACTOinputForm:-moz-placeholder {
  color: #a3a3a3;
  /*opacity: 0.5;*/ 
}
.CONTACTOinputForm:-ms-input-placeholder { 
  color: #a3a3a3;
  /*opacity: 0.5;*/ 
}

/*-------*/

.CONTACTOinputMensaje::-webkit-input-placeholder {
  color: #484848;
  /*opacity: 0.5;*/
}
.CONTACTOinputMensaje:-moz-placeholder {
  color: #484848;
  /*opacity: 0.5;*/ 
}
.CONTACTOinputMensaje:-ms-input-placeholder { 
  color: #484848;
  /*opacity: 0.5;*/ 
}

/*--------*/

.CONTACTOinputForm:focus::-webkit-input-placeholder {
  	/*color: white;*/
	opacity: 0.3;
}
.CONTACTOinputForm:focus:-moz-placeholder {
  	/*color: white;*/
	opacity: 0.3;
}
.CONTACTOinputForm:focus:-ms-input-placeholder { 
  	/*color: white;*/
	opacity: 0.3;
}







#negrita{
	font-weight: 600;

}


.negrita{
	font-weight: 600;
	color: #6f6f6f;
}

.negro{
	color: black;
}


#asdf{
	color: #717171;
}

